@{
    ViewData["Title"] = "AdminPage";
}

<h1 class="centered-container">Сторінка адміністратора</h1>

<h2>Categories</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Categories/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/Categories/Index"> Index</a>
    </li>
</ul>

<h2>Childcategories</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Childcategories/Create"> Create</a>
    </li>
    @* <li style="list-style-type: none;">
    <a href="/Childcategories/Delete"> Delete</a>
    </li>
    <li style="list-style-type: none;">
    <a href="/Childcategories/Details"> Details</a>
    </li>
    <li style="list-style-type: none;">
    <a href="/Childcategories/Edit"> Edit</a>
    </li> *@
    <li style="list-style-type: none;">
        <a href="/Childcategories/Index"> Index</a>
    </li>
</ul>

<h2>SubChildCategories</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/SubChildCategory/Create"> Create</a>
    </li>
    
    <li style="list-style-type: none;">
        <a href="/SubChildCategory/Index"> Index</a>
    </li>
</ul>

<h2>Products</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Products/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/Products/Index"> Index</a>
    </li>
</ul>

<h2>Brands</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Brands/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/Brands/Index"> Index</a>
    </li>
</ul>

<h2>ProductTypes</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/ProductTypes/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/ProductTypes/Index"> Index</a>
    </li>
</ul>

<h2>ProductImages</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/ProductImages/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/ProductImages/Index"> Index</a>
    </li>
</ul>

<h2>ProductColors</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/ProductColors/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/ProductColors/Index"> Index</a>
    </li>
</ul>


