@{
    ViewData["Title"] = "AdminPage";
}

<h1 class="centered-container">Сторінка адміністратора</h1>

<h2 class="centered-container">Categories</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Categories/Create"> Create</a>
    </li>
    
    <li style="list-style-type: none;">
        <a href="/Categories/Index"> Index</a>
    </li>
</ul>

<h2 class="centered-container">Childcategories</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Childcategories/Create"> Create</a>
    </li>
    @* <li style="list-style-type: none;">
        <a href="/Childcategories/Delete"> Delete</a>
    </li>
    <li style="list-style-type: none;">
        <a href="/Childcategories/Details"> Details</a>
    </li>
    <li style="list-style-type: none;">
        <a href="/Childcategories/Edit"> Edit</a>
    </li> *@
    <li style="list-style-type: none;">
        <a href="/Childcategories/Index"> Index</a>
    </li>
</ul>

<h2 class="centered-container">Products</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Products/Create"> Create</a>
    </li>
   
    <li style="list-style-type: none;">
        <a href="/Products/Index"> Index</a>
    </li>
</ul>

<h2 class="centered-container">Brands</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/Brands/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/Brands/Index"> Index</a>
    </li>
</ul>

<h2 class="centered-container">ProductImages</h2>
<ul class="catalog">
    <li style="list-style-type: none;">
        <a href="/ProductImages/Create"> Create</a>
    </li>

    <li style="list-style-type: none;">
        <a href="/ProductImages/Index"> Index</a>
    </li>
</ul>


